body {
    height: 98vh;
    width: 98vw;
    background-color: #fff;
    display: flex;
}

.col1 {
    flex: 35%;
    padding-left: 5%;
}

.col2 {
    flex: 65%;
    background-color: #F6F6F4;
    padding: 5%;
}

h1 {
    font-family: 'Menlo Regular';
    font-weight: 300;
}

h2 {
    font-family: 'Menlo Regular';
    font-weight: 900;
}

p {
    font-family: 'Menlo Regular';
}

.menu-selected {
    background-color: #FEF6DF;
    width: 90%;
    height: 8%;
    border-radius: 8px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.icon {
    width: 14%;
    height: 75%;
    background-color: #FED575;
    margin: 4%;
    border-radius: 8px;
}

img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: auto;
}


@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('Menlo-Regular.woff') format('woff');
}